.card {
    margin-bottom: 12px;
}

.cardBody {
    display: flex;
}

.content {
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    flex-grow:1;
    width: 260px;
    box-sizing: border-box;
}

.header {
    font-size: 14px;
    margin-bottom: 6px;
}

.rate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.distance {
    opacity: 0.5;
}

.categray {
    font-size: 10px;
    opacity: 0.5;
    display: flex;
}

.site {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    max-width: 225px;
}